/* Updated 2022-02-28 */

.dashboard {
    /* padding-left: 25px !important; */
    /* padding-right: 25px !important; */
    /* padding-top: 20px !important; */
}

.dashboard .markdown-preview-section {
    max-width: 100%;
}

/* Title at top of the document */
.dashboard .markdown-preview-section .title {
    top: 60px;
    position: absolute;
    font-size: 20pt !important;
    font-weight: bolder;
    letter-spacing: 8px;
}

.dashboard h1 {
    border-bottom-style: dotted !important;
    border-width: 1px !important;
    padding-bottom: 3px !important;
}

.dashboard div > ul {
    list-style-type: none;
    /* padding: 0; */
    /* margin: 0; */
    display: flex;
    column-gap: 20px;
    flex-flow: row wrap;
}

.dashboard div > ul > li {
    min-width: 400px;
    width: 15%;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dashboard div > ul > li > ul {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dashboard div > ul > li > ul > li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dashboard div > ul > li > ul > li > ul > li {
    padding-top: 10px;
    padding-bottom: 5px;
}

.dashboard h2  {
}

.dashboard h3  {
}

/* Naked Embeds */
.markdown-embed-title { display:none; }
.markdown-preview-view .markdown-embed { border:none; padding:0; margin:0; }
.markdown-preview-view .markdown-embed-content { max-height: unset;}
.markdown-preview-view .markdown-embed-content>:first-child { margin-top: 0; }
.markdown-preview-view .markdown-embed-content>:last-child { margin-bottom: 0; }
