.theme-dark{
    --background-primary: #181818;
    /* --background-primary-alt: #000000; */
    --background-secondary: #404850;
    /* --background-secondary: #bbb098; */
    /* --background-secondary-alt: #000000; */
}


.nav-folder-title {
    font-size: 16px;
    color: #99aabb !important;
    /* color: #000000; */
}

.nav-file-title {
    font-size: 16px;
    border-radius: 20px;
    color: #bbb098 !important;
}

.nav-folder .nav-folder-title {
    /* background: #6699cc; */
    border-radius: 20px;
}

.nav-folder .is-collapsed .nav-folder-title {
    /* background: #336699; */
    border-radius: 20px;
}

.nav-file-title:hover,
.nav-folder-title:hover,
.nav-file-title-content:hover,
.nav-folder-title-content:hover{
    /* font-weight: bold; */
    /* background: #bbb098 !important; */
    /* color: #336699 !important; */
}

.nav-file .is-active {
    border-radius: 20px !important;
    background: #bbb098 !important;
}

.is-active .nav-file-title-content {
    color: var(--background-secondary);
}


body {
    --font-text-theme: "Ubuntu";
    --font-interface-theme: "Ubuntu";
    --font-editor-theme: "Ubuntu";
    --font-monospace-theme: "Ubuntu Mono";
    --theme-accent-h: 204;
    --theme-accent-s: 24%;
    --theme-accent-l: 31%;
    --theme-accent-d: 31%;
}

/* collapse arrow for folders */
/* .nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title>.nav-folder-collapse-indicator{ */
/* 	color: #ff0000; */
/* } */

svg.right-triangle path {
  stroke: #0088bb;
  stroke-width: 8px;
  stroke-linecap="round";
}


/* /1* Selection the first H1 header of the Note *1/ */
/* pre:nth-of-type(2).HyperMD-header.HyperMD-header-1 { */
/*     color: red; */
/* } */

/* header in edit/preview modes */
.cm-header-1, .markdown-preview-view h1,
.cm-header-2, .markdown-preview-view h2,
.cm-header-3, .markdown-preview-view h3,
.cm-header-4, .markdown-preview-view h4,
.cm-header-5, .markdown-preview-view h5,
.cm-header-6, .markdown-preview-view h6 {
    /* color: #236B5F; */
    /* color: #b57614; */
    /* color: #076678; */
    /* color: #448888; */
    color: #404850;
}

/* hash tags in headers */
.cm-formatting-header {
    /* color: #009988; */
    /* color: #5599aa; */
    /* color: #236B5F; */
    color: #404850;
}

.inline-title {
    /* background: #202020; */
    /* background: #224466; */
    /* background: #484020; */
    /* background: #403830; */
    /* background: #404850; */
    /* background: var(--background-secondary); */
    background: #404850;
    font-family: monospace;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    border: solid 1px;
    border-radius: 100px;
    text-align: center;
    margin-bottom: 20px;
}

