.nav-file-title, .nav-folder-title {
    font-size: 16px;
    color: #bbaa99;
}

body {
    --theme-accent-h: 204;
    --theme-accent-s: 24%;
    --theme-accent-l: 31%;
    --theme-accent-d: 31%;
}

/* collapse arrow for folders */
/* .nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title>.nav-folder-collapse-indicator{ */
/* 	color: #ff0000; */
/* } */

svg.right-triangle path {
  stroke: #448888;
  /* stroke: #aaaa22; */
}

/* /1* Selection the first H1 header of the Note *1/ */
/* pre:nth-of-type(2).HyperMD-header.HyperMD-header-1 { */
/*     color: red; */
/* } */

/* header in edit/preview modes */
.cm-header-1, .markdown-preview-mode h1 {
}
.cm-header-2, .markdown-preview-mode h2 {
}
.cm-header-3, .markdown-preview-mode h3 {
}
.cm-header-4, .markdown-preview-mode h4 {
}
.cm-header-5, .markdown-preview-mode h5 {
}
.cm-header-6, .markdown-preview-mode h6 {
}

/* hash tags in headers */
.cm-formatting-header {
    color: #444444;
    font-size: 0.6em;
}

