.nav-file-title, .nav-folder-title {
    font-size: 16px;
    color: #bbaa99;
}

body {
    --theme-accent-h: 204;
    --theme-accent-s: 24%;
    --theme-accent-l: 31%;
    --theme-accent-d: 31%;
}

/* collapse arrow for folders */
/* .nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title>.nav-folder-collapse-indicator{ */
/* 	color: #ff0000; */
/* } */

svg.right-triangle path {
  stroke: #5599aa;
  /* stroke: #aaaa22; */
}

/* /1* Selection the first H1 header of the Note *1/ */
/* pre:nth-of-type(2).HyperMD-header.HyperMD-header-1 { */
/*     color: red; */
/* } */

/* header in edit/preview modes */
.cm-header-1, .markdown-preview-view h1 {
    color: #977070;
}
.cm-header-2, .markdown-preview-view h2 {
    color: #448888;
}
.cm-header-3, .markdown-preview-view h3 {
    color: #5b8060;
}
.cm-header-4, .markdown-preview-view h4 {
    color: #808060;
}
.cm-header-5, .markdown-preview-view h5 {
    color: #667070;
}
.cm-header-6, .markdown-preview-view h6 {
    color: #406060;
}

/* hash tags in headers */
.cm-formatting-header {
    /* color: #009988; */
    color: #5599aa;
    border-bottom: none;
}


.inline-title {
    /* background: #202020; */
    background: #224466;
    color: #667788;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    padding: 10px;
    border-radius: 100px;
    text-align: center;
    margin-bottom: 20px;
}

