/* {{{1 Theme Base
 *********************************************************************************
 */


.theme-dark{
    --background-primary: #181818;
    /* --background-primary-alt: #000000; */
    --background-secondary: #404850;
    /* --background-secondary: #bbb098; */
    /* --background-secondary-alt: #000000; */
    --text-normal: #c2b9a3;
    /* --subaccent-color: #4499aa; */
    /* --subaccent-color: #449098; */
    /* --subaccent-color: #aaaaaa; */
    /* --subaccent-color: #ccbbaa; */
    /* --subaccent-color: #ffa500; */
    /* --subaccent-color: #dfbb81; */
    --subaccent-color: #bcb290;
    /* --subaccent-color: #dcd6cb; */
}

.nav-folder-title {
    /* font-weight: normal; */
    font-size: 16px;
    color: var(--subaccent-color) !important;
    /* color: #000000; */
}

.nav-file-title {
    font-size: 16px;
    border-radius: 10px;
    color: #d5d5c5 !important;
}

.nav-folder .nav-folder-title {
    /* background: #6699cc; */
    /* border-radius: 20px; */
}

.nav-folder .is-collapsed .nav-folder-title {
    /* background: #336699; */
    /* border-radius: 20px; */
}

.nav-file-title:hover,
.nav-folder-title:hover,
.nav-file-title-content:hover,
.nav-folder-title-content:hover{
    /* font-weight: bold; */
    /* background: #bbb098 !important; */
    /* color: #336699 !important; */
}

.nav-file .is-active {
    border-radius: 20px !important;
    background: #bbb098 !important;
    padding-top: 2px !important;
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.is-active .nav-file-title-content {
    color: var(--background-secondary);
}


body {
    --font-text-theme: "Ubuntu";
    --font-interface-theme: "Ubuntu";
    --font-editor-theme: "Ubuntu";
    --font-monospace-theme: "Ubuntu Mono";

    /** 41: nice sandy/khaki/beige accent hue **/
    /* --accent-h: 41; */
    /* --accent-s: 10%; */
    /* --accent-l: 40%; */

    /* --accent-h: 47; */
    /* --accent-s: 10%; */
    /* --accent-l: 45%; */
    /* --accent-d: 0%; */



  /* --interactive-accent-rgb: green; */
  --interactive-accent-hover: #c2b9a3;
  /* --interactive-accent: #bdb59a; */
  /* --interactive-accent: #8f8975; */
  /* --interactive-accent: #827d6a; */
  --interactive-accent: #807a68;


    /* --theme-accent-h: 204; */
    /* --theme-accent-s: 24%; */
    /* --theme-accent-l: 31%; */
    /* --theme-accent-d: 31%; */
    --text-accent: #c2b9a3;
}

/* collapse arrow for folders */
/* .nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title>.nav-folder-collapse-indicator{ */
/* 	color: #ff0000; */
/* } */

svg.right-triangle path {
  stroke: var(--subaccent-color);
  stroke-width: 2px;
  stroke-linecap="round";
}


/* /1* Selection the first H1 header of the Note *1/ */
/* pre:nth-of-type(2).HyperMD-header.HyperMD-header-1 { */
/*     color: red; */
/* } */

/* header in edit/preview modes */
.cm-header-1, .markdown-preview-view h1,
.cm-header-2, .markdown-preview-view h2,
.cm-header-3, .markdown-preview-view h3,
.cm-header-4, .markdown-preview-view h4,
.cm-header-5, .markdown-preview-view h5,
.cm-header-6, .markdown-preview-view h6 {
    /* color: #236B5F; */
    /* color: #b57614; */
    /* color: #076678; */
    /* color: #448888; */
    color: #404850;
}

/* hash tags in headers */
.cm-formatting-header {
    /* color: #009988; */
    /* color: #5599aa; */
    /* color: #236B5F; */
    color: #404850;
}

.inline-title {
    /* background: #202020; */
    /* background: #224466; */
    /* background: #484020; */
    /* background: #403830; */
    /* background: #404850; */
    /* background: var(--background-secondary); */
    background: #404850;
    font-family: monospace;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    border: solid 1px;
    border-radius: 100px;
    text-align: center;
    margin-bottom: 20px;
}

/* }}}1 */

/* {{{1 cristianvasquez/file_explorer.css
 * https://gist.github.com/cristianvasquez/41685a3e7b683acdfc98fc1c67596b12
 */

/* condense line spacing on file explorer title list. also avoids character-level word breaks */
.nav-file-title-content,
.search-result-file-title,
.search-result-file-match {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: normal !important;
  word-break: keep-all;
}

/* file xplor : smaller & bold vault title */
.nav-folder.mod-root > .nav-folder-title {
  padding-left: 6px;
  font-size: 14px;
  font-weight: bolder;
  top: -6px; /* higher */
  cursor: default;
  /* color: var(--base2); */
  color: var(--base2);
}

/* Enhancing the view of folders in left pane */
/* by Shamama on https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/112 */

/* outliner for the outline */
.outline-heading-children {
  border-left: 1px solid rgba(118, 158, 165, 0.2);
  border-radius: 0 0px 0px 0;
  transition: all 0.5s ease-in-out;
}

.outline-heading-children:hover {
  border-left-color: rgba(118, 158, 165, 0.4);
}

/* Connectining lines for files and folders in left pane*/
.nav-folder,
.nav-file {
  margin: 0 !important;
  border-left: 1px solid rgba(118, 158, 165, 0.2);
}
/* Compact */
.nav-file-title,
.nav-folder-title {
  padding: 0px 14px 0px 20px;
}

/* == File Explorer - animation for active file as per Obuntu === */
/* .nav-file-title, */
/* .nav-folder-title { */
/*   padding: 0px 14px 0px 20px; */
/* } */

/* .nav-folder-title { */
/*   font-weight: bold; */
/* } */

/* .nav-folder.mod-root > .nav-folder-title { */
/*   padding-left: 6px; */
/*   font-size: 14px; */
/*   font-weight: bolder; */
/*   top: -6px; */
/*   cursor: default; */
/* } */

/* .nav-file.is-active > .nav-file-title, */
/* .nav-file.is-active > .nav-file-title:hover { */
/*   background-color: var(--background-primary); */
/*   border-radius: 6px; */
/*   font-weight: bold; */
/*   /1* color: var(--text-accent); *1/ */
/*   border-left: 2px solid var(--text-accent); */
/*   transition: all 0.5s ease; */
/* } */

/* .nav-file.is-active > .nav-file-title { */
/*   padding-left: 5px; */
/*   /1* margin-left: 5px; *1/ */
/* } */

/*body:not(.is-grabbing) .nav-file-title:hover,*/
/*body:not(.is-grabbing) .nav-folder-title:hover {*/
/*    /** hover in file explorer **/*/
/*}*/

.nav-file-tag {
  background-color: var(--background-secondary-alt);
  top: -1px;
}

/* Folder and file icons */
.nav-folder-children .nav-file-title-content:first-child::before {
  /* content: "∙ "; */
  content: "🗅   ";
  color: var(--subaccent-color);
  font-weight: bold;
  /* filter: invert(87%) sepia(20%) saturate(1026%) hue-rotate(113deg) */
  /*   brightness(105%) contrast(103%); */
}
.nav-folder-children .nav-folder-title-content::before {
  /* content: "("; */
}

.nav-folder-children .nav-folder-title-content::after {
  /* content: " )"; */
}

/* add colour to folder icons - needs 2 lines of .nav-folder-children above to work*/
.nav-folder-title-content::before {
    /* content: "["; */
}

.nav-folder-title-content::after {
    /* content: "]"; */
}

/*hover color*/ /* DEBUG hover */
/* .nav-folder-title:hover .nav-folder-title-content::before { */
/*   /1* hover color   #69fafd  👆   CSS filter 👇  *1/ */
/*   filter: invert(87%) sepia(20%) saturate(1026%) hue-rotate(113deg) */
/*     brightness(105%) contrast(103%); */
/* } */

/* change font size of file explorer */
/* .nav-file-title, */
/* .nav-folder-title { */
/*   font-size: 14px; */
/*   line-height: 15px; */
/* } */

/* change font size of search results */
/* .search-result-file-title { */
/*   font-size: xyz; */
/* } */
/* .search-result-file-matches { */
/*   font-size: xyz; */
/* } */

/* Reduce space of header buttons/icons - Blue Topaz */
/* div.nav-header { */
/*   padding: 0px 5px 5px 5px; */
/*   margin-bottom: 0px; */
/*   margin-top: 5px; */
/*   line-height: 0px; */
/* } */
/* div.nav-buttons-container { */
/*   margin: 0px 0px 0px 0px; */
/* } */
/* input.search-input { */
/*   margin: 0px 10px -3px 10px; */
/* } */
/* .nav-action-button { */
/*   margin: 0px 2px 0px 2px !important; */
/* } */
/* .workspace-leaf-content[data-type="search"] .nav-action-button, */
/* .workspace-leaf-content[data-type="backlink"] .nav-action-button { */
/*   padding: 3px 3px 3px 3px; */
/* } */

/* Fix background of folder-collapse-indicator */
/* body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator { */
/*   background: none; */
/* } */

/* /1* Line up tabs with macOS traffic lights *1/ */
/* .hider-frameless .workspace-split.mod-left-split > .workspace-tabs { */
/*   padding: 0; */
/* } */
/* .workspace-tab-container-inner { */
/*   padding-left: 30px; */
/* } */

/* }}}1 */
