
/* Core UI {{{1 */

/* Sidebar File Explorer {{{2 */

.nav-file-title {
    border-radius: 10px;
    color: #d5d5c5 !important;
}

.nav-file-title:hover,
.nav-folder-title:hover,
.nav-file-title-content:hover,
.nav-folder-title-content:hover{
    /* font-weight: bold; */
    /* background: #bbb098 !important; */
    /* color: #336699 !important; */
}

.nav-file .is-active {
    border-radius: 20px !important;
    padding-top: 1px !important;
    padding-bottom: 2px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-left: 10px !important;
    border: solid 0.5px;
}

.is-active .nav-file-title-content {
    font-style: italic;
}

/* file xplor : smaller & bold vault title */
.nav-folder.mod-root > .nav-folder-title {
  padding-left: 6px;
  font-size: 14px;
  font-weight: bolder;
  top: -6px;
  cursor: default;
  /* border: solid 1px red; */
}

.right-triangle path {
    stroke: white;
  stroke-width: 4px;
  stroke-linecap="round";
  filter: opacity(60%);
}

/* }}}2 */

/* Monospace font in editor {{{2 */

:root {
  --font-monospace: "DejaVu Sans Mono", monospace;
}
.markdown-source-view {
  font-family: var(--font-monospace);
}

/* }}}2 */

/* }}}1 */

/* Standard Body Elements {{{1 */

h2:before {
    content: '⫼'     "\0000a0";
}
h2:before {
    content: '⫼⫼'     "\0000a0";
}
h3:before {
    content: '⫼⫼⫼'    "\0000a0";
}
h4:before {
    content: '⫼⫼⫼⫼'   "\0000a0";
}
h5:before {
    content: '⫼⫼⫼⫼⫼'  "\0000a0";
}
h6:before {
    content: '⫼⫼⫼⫼⫼⫼' "\0000a0";
}

blockquote:before {
  font: 14px/20px italic Times, serif;
  content: "“";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote:after {
  font: 14px/20px italic Times, serif;
  content: "”";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p { display: inline; }

/* }}}1 */

/* Table colors {{{1 */

.theme-dark {
    --table-header-background:       #282828;
    --table-header-background-hover: #282828;
    --table-row-background:          #000000;
    --table-row-odd-background:      #383838;
    --table-row-even-background:     #3d3d3d;
    --table-row-background-hover:    #383838;
}

.markdown-rendered tbody tr:nth-child(even)
{
    background-color: var(--table-row-even-background) !important;
}

.markdown-rendered tbody tr:nth-child(odd)
{
    background-color: var(--table-row-odd-background) !important;
}

.markdown-rendered tbody tr:nth-child(even):hover,
.markdown-rendered tbody tr:nth-child(odd):hover
{
    background-color: var(--table-row-background-hover) !important;
}

/* }}}1 */

/* Minimal colors {{{1 */

:root {
  "minimal-style@@embed-strict": false,
  "minimal-style@@bg1@@dark": "#323030",
  "minimal-style@@bg2@@dark": "#4E575F",
  "minimal-style@@sidebar-tabs-style": "sidebar-tabs-index",
  "minimal-style@@sidebar-lines-off": false,
  "minimal-style@@row-alt": false,
  "minimal-style@@col-alt": false,
  "minimal-advanced@@styled-scrollbars": false,
  "minimal-style@@image-muted": 0.9,
  "minimal-style@@tx1@@dark": "#AAA090",
  "minimal-style@@tx3@@dark": "#809090",
  "minimal-style@@tx2@@dark": "#D5D5C5",
  "minimal-style@@tabs-style": "tabs-default",
  "minimal-style@@row-lines": true,
  "minimal-style@@col-lines": true,
  "minimal-style@@table-lines": true,
  "minimal-style@@table-tabular": true,
  "minimal-style@@code-background@@dark": "#282424",
  "minimal-style@@code-normal@@dark": "#909860"
}

/* }}}1 */

/* Dataview {{{1 */

span.dataview.inline-field {
    white-space: nowrap;
}

span.dataview.inline-field-key {
    border: thin solid var(--tag-background);
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: black;
    background: var(--background-secondary);
    padding: 2px 2px 2px 10px;
}

span.dataview.inline-field-value {
    border: thin solid var(--tag-background);
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--tag-background);
    color: var(--tag-color);
    padding: 2px 10px 2px 10px;
}

span.dataview.inline-field-standalone-value {
    background: var(--tag-background);
    border: thin solid var(--tag-background);
    color: var(--tag-color);
    border-radius: 10px;
    padding: 2px 10px 2px 2px;
}

.dataview h4::before {
    content: '⮺ ';
}


.dataview h4 {
    border-bottom: solid 0.5px;
}

.dataview .small-text {
    display: none;
}

/* Dataview column wrapping and coloring */
 .table-view-table>tbody>tr>td {
    white-space: pre-wrap !important;
}

/* }}}1 */

