:root
{
    --mnemonaut-dark-bg1                          : #1c1c1c; /* background main */
    --mnemonaut-dark-bg2                          : #242424; /* menu background and border */
    --mnemonaut-dark-text-normal                  : #cccccc; /* text */
    --mnemonaut-dark-text-faint                   : #87afff; /* arrow, list, bullet point */
    --mnemonaut-dark-text-muted                   : #cebd9e; /* text menu */
    --mnemonaut-dark-text-bold                    : #ebcb8b30;
    --mnemonaut-dark-text-italic                    : #ebcb8b30;
    --mnemonaut-dark-text-heading-fg              : #cebd9e; /* text menu */
    --mnemonaut-dark-text-highlight-bg            : #ebcb8b30;
    --mnemonaut-dark-text-highlight-fg            : var(--mnemonaut-dark-text-normal);
    --mnemonaut-dark-text-accent                  : #d08770; /* links */
    --mnemonaut-dark-text-accent-hover            : #d08770; /* links */
    --mnemonaut-dark-tag-fg                       : #ffffff;
    --mnemonaut-dark-tag-background               : #ffffff;
    --mnemonaut-dark-tag-background-hover         : #ffffff;
    --mnemonaut-dark-titlebar-focused-text-fg     : #ffffff;
    --mnemonaut-dark-inline-title-fg              : #ebcb8b;
    --mnemonaut-dark-checkbox-fg                  : #fff000;
    --mnemonaut-dark-checkbox-done-fg             : #ffffff;
    --mnemonaut-dark-text-table-header-bg         : #ebcb8b10;
    --mnemonaut-dark-text-table-row-bg            : #ebcb8b10;
    --mnemonaut-dark-code-fg                      : #ebcb8b30;
    --mnemonaut-dark-code-bg                      : #000000;
    --mnemonaut-dark-icon-hover                   : #000000;
    --mnemonaut-dark-icon-focused                 : #000000;
    --mnemonaut-dark-nav-item-hover               : #000000;
    --mnemonaut-dark-nav-item-active             : #000000;
    --mnemonaut-dark-nav-file-tag                 : #000000;
    --mnemonaut-dark-graph-line                   : #585858; /* graph line */
    --mnemonaut-dark-graph-node                   : #585858; /* graph line */
    --mnemonaut-dark-graph-node-tag               : #585858; /* graph line */
    --mnemonaut-dark-graph-node-attachment        : #585858; /* graph line */
    --mnemonaut-dark-tab-focused-active-fg        : #ffffff;
    --mnemonaut-dark-tab-focused-active-current-fg: #ffffff;
}

body
{
    /* peach-pale for the accent (button color) */
    --accent-h: 40;
    --accent-s: 71%;
    --accent-l: 73%;

    --link-decoration:                none;
    --link-decoration-hover:          none;
    --link-external-decoration:       none;
    --link-external-decoration-hover: none;

    --tag-decoration:                 none;
    --tag-decoration-hover:           underline;
    --tag-padding-x:                  .5em;
    --tag-padding-y:                  .2em;
    --tag-radius:                     .5em;
}

.theme-dark
{
    --background-primary:            var(--mnemonaut-dark-bg1);
    --background-primary-alt:        var(--mnemonaut-dark-bg1);
    --background-secondary:          var(--mnemonaut-dark-bg2);
    --background-secondary-alt:      var(--mnemonaut-dark-bg2);
    --background-modifier-border:    var(--mnemonaut-dark-bg2);

    --cursor-line-background:        var(--mnemonaut-dark-graph-line);

    --text-normal:                   var(--mnemonaut-dark-text-normal);
    --text-faint:                    var(--mnemonaut-dark-text-faint);
    --text-muted:                    var(--mnemonaut-dark-text-muted);

    --h1-color:                      var(--mnemonaut-dark-text-heading-fg);
    --h2-color:                      var(--mnemonaut-dark-text-heading-fg);
    --h3-color:                      var(--mnemonaut-dark-text-heading-fg);
    --h4-color:                      var(--mnemonaut-dark-text-heading-fg);
    --h5-color:                      var(--mnemonaut-dark-text-heading-fg);
    --h6-color:                      var(--mnemonaut-dark-text-heading-fg);

    --text-highlight-bg:             var(--mnemonaut-dark-text-highlight-bg);
    --text-highlight-fg:             var(--mnemonaut-dark-text-highlight-fg);

    --text-accent:                   var(--mnemonaut-dark-text-accent);
    --text-accent-hover:             var(--mnemonaut-dark-text-accent-hover);

    --tag-color:                     var(--mnemonaut-dark-tag-fg);
    --tag-background:                var(--mnemonaut-dark-tag-bg);
    --tag-background-hover:          var(--mnemonaut-dark-tag-bg-hover);

    --titlebar-text-color-focused:   var(--mnemonaut-dark-titlebar-focused-text-fg);

    --inline-title-color:            var(--mnemonaut-dark-inline-title-fg);

    --bold-color:                    var(--mnemonaut-dark-text-bold);
    --italic-color:                  var(--mnemonaut-dark-text-italic);

    --checkbox-color:                var(--mnemonaut-dark-checkbox-fg);
    --checkbox-color-hover:          var(--mnemonaut-dark-checkbox-fg);
    --checkbox-border-color:         var(--mnemonaut-dark-checkbox-fg);
    --checkbox-border-color-hover:   var(--mnemonaut-dark-checkbox-fg);
    --checklist-done-color:          var(--mnemonaut-dark-checkbox-donoe-fg);

    --table-header-background:       var(--mnemonaut-dark-text-table-header-bg);
    --table-header-background-hover: var(--mnemonaut-dark-text-highlight-bg);
    --table-row-background:          var(--mnemonaut-dark-text-table-header-bg);
    --table-row-background-hover:    var(--mnemonaut-dark-text-highlight-bg);

    --text-selection:                var(--mnemonaut-dark-text-highlight-bg);

    --code-normal:                   var(--mnemonaut-dark-code-fg);
    --code-background:               var(--mnemonaut-dark-code-fg);

    --icon-color-hover:              var(--mnemonaut-dark-item-hover);
    --icon-color-focused:            var(--mnemonaut-dark-item-focused);

    --nav-item-color-hover:          var(--mnemonaut-dark-nav-item-hover);
    --nav-item-color-active:         var(--mnemonaut-dark-nav-item-active);
    --nav-file-tag:                  var(--mnemonaut-dark-nav-item-active);

    --graph-line:                    var(--mnemonaut-dark-graph-line);
    --graph-node:                    var(--mnemonaut-dark-graph-node);
    --graph-node-tag:                var(--mnemonaut-dark-graph-node-tag);
    --graph-node-attachment:         var(--mnemonaut-dark-graph-node-attachement);

    --tab-text-color-focused-active:         var(--mnemonaut-dark-tab-focused-active-fg);
    --tab-text-color-focused-active-current: var(--mnemonaut-dark-tab-focused-active-current-fg);
}


.search-result-file-matched-text
{
    color: var(--text-highlight-fg) !important;
}

.cm-hashtag-begin:hover, .cm-hashtag-end:hover
{
    color: var(--text-accent);
    text-decoration: underline;
}
