
/* Dark Scheme Color Definitions {{{1 */

:root
{
    --mnemonaut-dark-bg1                  : #323030; /* background main */
    --mnemonaut-dark-fg1                  : #c0b088; /* text */
    --mnemonaut-dark-fg1                  : #aaa090; /* text */
    --mnemonaut-dark-bg2                  : #4e575f; /* menu background and border */

    --mnemonaut-dark-text-normal          : var(--mnemonaut-dark-fg1); /* text */
    --mnemonaut-dark-text-faint           : #809090; /* '--text-faint' in main body, stroke, arrow, list, bullet point, etc. */
    --mnemonaut-dark-text-muted           : #d5d5c5; /* menu/interface text */

    --mnemonaut-dark-text-heading-h1      : #587074;
    --mnemonaut-dark-text-heading-h2      : #448888;
    --mnemonaut-dark-text-heading-h3      : #5b8060;
    --mnemonaut-dark-text-heading-h4      : #808060;
    --mnemonaut-dark-text-heading-h5      : #707070;
    --mnemonaut-dark-text-heading-h6      : #505050;

    /* --mnemonaut-dark-text-heading-h1      : #427b58; */
    /* --mnemonaut-dark-text-heading-h2      : #448888; */
    /* --mnemonaut-dark-text-heading-h3      : #5b8060; */
    /* --mnemonaut-dark-text-heading-h4      : #808060; */
    /* --mnemonaut-dark-text-heading-h5      : #667070; */
    /* --mnemonaut-dark-text-heading-h6      : #505050; */

    --mnemonaut-dark-text-highlight-bg    : #555555;
    --mnemonaut-dark-text-highlight-fg    : none;
    --mnemonaut-dark-text-accent          : #80b0a8; /* links */
    --mnemonaut-dark-text-accent-hover    : #ffff00; /* links */

    --mnemonaut-dark-code-fg              : #60a8a0;
    --mnemonaut-dark-code-bg              : #282424;

    --mnemonaut-dark-tag-color            : #888888;
    --mnemonaut-dark-tag-background       : #202020;
    --mnemonaut-dark-tag-background-hover : #000000;

    --mnemonaut-dark-checkbox-fg          : var(--mnemonaut-dark-text-faint);
    --mnemonaut-dark-checkbox-done-fg     : var(--mnemonaut-dark-text-muted);

    --mnemonaut-dark-icon-hover           : red;
    --mnemonaut-dark-icon-focused         : red;

    --mnemonaut-dark-frame-accent-bg         : #484c50;
    --mnemonaut-dark-heading-accent-bg         : #2a2828;
}

/* }}}1 */

/* Light Scheme Color Definitions {{{1 */

:root
{
    /* --mnemonaut-light-bg1                           : #999080; /1* background main *1/ */
    --mnemonaut-light-bg1                           : #908878; /* background main */
    --mnemonaut-light-fg1                           : #222020; /* text */
    --mnemonaut-light-bg2                           : #404850; /* menu background and border */
    --mnemonaut-light-bg2                           : #616E7A; /* menu background and border */
    --mnemonaut-light-bg2                           : #606B76; /* menu background and border */
    --mnemonaut-light-bg2                           : #5f6b77; /* menu background and border */
    --mnemonaut-light-bg2                           : #505962; /* menu background and border */
    --mnemonaut-light-bg2                           : #4E575F; /* menu background and border */

    --mnemonaut-light-text-normal                   : var(--mnemonaut-light-fg1); /* text */
    --mnemonaut-light-text-faint                    : #004466; /* '--text-faint' in main body, stroke, arrow, list, bullet point, etc. */
    --mnemonaut-light-text-muted                    : #ccc6bd; /* menu/interface text */

    --mnemonaut-light-text-heading-fg               : var(--mnemonaut-light-bg2);
    --mnemonaut-light-text-highlight-bg             : #a0a9b3;
    --mnemonaut-light-text-highlight-fg             : none;
    --mnemonaut-light-text-accent                   : #014b70; /* links */
    --mnemonaut-light-text-accent-hover             : #000088; /* links */

    --mnemonaut-light-inline-title-fg               : none; /* set below */

    --mnemonaut-light-tab-focused-active-fg         : #fff0a0;
    --mnemonaut-light-tab-focused-active-current-fg : var(--mnemonaut-light-bg2);

    --mnemonaut-light-titlebar-focused-text-fg      : #ffffff;

    --mnemonaut-light-code-fg                       : #206020;
    --mnemonaut-light-code-bg                       : #b8b0a3;

    --mnemonaut-light-icon-hover                    : red;
    --mnemonaut-light-icon-focused                  : red;

    --mnemonaut-light-text-table-header-bg          : #ebcb8b10;
    --mnemonaut-light-text-table-row-bg             : #ebcb8b10;
    --mnemonaut-light-nav-item-active               : #bbb098;
    --mnemonaut-light-nav-item-hover                : #bcb290;
    --mnemonaut-light-nav-file-tag                  : #000000;
    --mnemonaut-light-graph-line                    : #585858; /* graph line */
    --mnemonaut-light-graph-node                    : #585858; /* graph line */
    --mnemonaut-light-graph-node-tag                : #585858; /* graph line */
    --mnemonaut-light-graph-node-attachment         : #585858; /* graph line */

    --mnemonaut-light-checkbox-fg                   : var(--mnemonaut-light-text-faint);
    --mnemonaut-light-checkbox-done-fg              : var(--mnemonaut-light-text-muted);
    --mnemonaut-light-tag-color                        : #ffffff;
    --mnemonaut-light-tag-background                : #ffffff;
    --mnemonaut-light-tag-background-hover          : #ffffff;

    --mnemonaut-light-frame-accent-bg         : #484c50;
}

/* }}}1 */

/* Body {{{1 */

body
{
    /* UI Widget Buttons etc. */
    --accent-h: 197;
    --accent-s: 18%;
    --accent-l: 50%;

    --font-text-theme: "Ubuntu";
    --font-interface-theme: "Ubuntu";
    --font-editor-theme: "Ubuntu";
    --font-monospace-theme: "Ubuntu Mono";

    --link-decoration:                none;
    --link-decoration-hover:          underline;
    --link-external-decoration:       none;
    --link-external-decoration-hover: underline;

    /* --tag-decoration:                 none; */
    /* --tag-decoration-hover:           underline; */
    /* --tag-padding-x:                  .5em; */
    /* --tag-padding-y:                  .2em; */
    /* --tag-radius:                     .5em; */
}

/* }}}1 */

/* Dark Theme Base {{{1 */

.theme-dark
{
    --background-primary:            var(--mnemonaut-dark-bg1);
    --background-primary-alt:        var(--mnemonaut-dark-bg1);
    --background-secondary:          var(--mnemonaut-dark-bg2);
    --background-secondary-alt:      var(--mnemonaut-dark-bg2);
    --mnemonaut-frame-accent-bg:     var(--mnemonaut-dark-frame-accent-bg);
    --background-modifier-border:    var(--mnemonaut-frame-accent-bg);
    --mnemonaut-heading-accent-bg: var(--mnemonaut-dark-heading-accent-bg);


    --cursor-line-background:        var(--mnemonaut-dark-graph-line);
    /* --divider-color:                 var(--mnemonaut-dark-graph-line); */

    --text-normal:                   var(--mnemonaut-dark-fg1);
    --text-faint:                    var(--mnemonaut-dark-text-faint);
    --text-muted:                    var(--mnemonaut-dark-text-muted);

    --h1-color:                      var(--mnemonaut-dark-text-heading-h1);
    --h2-color:                      var(--mnemonaut-dark-text-heading-h2);
    --h3-color:                      var(--mnemonaut-dark-text-heading-h3);
    --h4-color:                      var(--mnemonaut-dark-text-heading-h4);
    --h5-color:                      var(--mnemonaut-dark-text-heading-h5);
    --h6-color:                      var(--mnemonaut-dark-text-heading-h6);

    --text-highlight-bg:             var(--mnemonaut-dark-text-highlight-bg);
    --text-highlight-fg:             var(--mnemonaut-dark-text-highlight-fg);

    --text-accent:                   var(--mnemonaut-dark-text-accent);
    --text-accent-hover:             var(--mnemonaut-dark-text-accent-hover);

    --tag-color:                     var(--mnemonaut-dark-tag-color);
    --tag-background:                var(--mnemonaut-dark-tag-background);
    --tag-background-hover:          var(--mnemonaut-dark-tag-background-hover);

    --titlebar-text-color-focused:   var(--mnemonaut-dark-titlebar-focused-text-fg);

    --inline-title-color:            var(--mnemonaut-dark-inline-title-fg);

    --bold-color:                    var(--text-normal);
    --italic-color:                  var(--text-normal);

    --checkbox-color:                var(--mnemonaut-dark-checkbox-fg);
    --checkbox-color-hover:          var(--mnemonaut-dark-checkbox-fg);
    --checkbox-border-color:         var(--mnemonaut-dark-checkbox-fg);
    --checkbox-border-color-hover:   var(--mnemonaut-dark-checkbox-fg);
    --checklist-done-color:          var(--mnemonaut-dark-checkbox-donoe-fg);

    --table-header-background:       var(--mnemonaut-dark-text-table-header-bg);
    --table-header-background-hover: var(--mnemonaut-dark-text-highlight-bg);
    --table-row-background:          var(--mnemonaut-dark-text-table-header-bg);
    --table-row-background-hover:    var(--mnemonaut-dark-text-highlight-bg);

    --text-selection:                var(--mnemonaut-dark-text-highlight-bg);

    --code-normal:                   var(--mnemonaut-dark-code-fg);
    --code-background:               var(--mnemonaut-dark-code-bg);

    --icon-color-hover:              var(--mnemonaut-dark-item-hover);
    --icon-color-focused:            var(--mnemonaut-dark-item-focused);

    --nav-item-color-hover:          var(--mnemonaut-dark-nav-item-hover);
    --nav-item-color-active:         var(--mnemonaut-dark-nav-item-active);
    --nav-file-tag:                  var(--mnemonaut-dark-nav-file-tag);

    --graph-line:                    var(--mnemonaut-dark-graph-line);
    --graph-node:                    var(--mnemonaut-dark-graph-node);
    --graph-node-tag:                var(--mnemonaut-dark-graph-node-tag);
    --graph-node-attachment:         var(--mnemonaut-dark-graph-node-attachement);

    --tab-text-color-focused-active:         var(--mnemonaut-dark-tab-focused-active-fg);
    --tab-text-color-focused-active-current: var(--mnemonaut-dark-tab-focused-active-current-fg);

    /* --background-modifier-border: #f2e5bc;*/
    /* --background-modifier-form-field: rgba(0, 0, 0, 0.2);*/
    /* --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);*/
    /* --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);*/
    /* --background-modifier-success: #197300; /*no sure*/*/
    /* --background-modifier-error: #3d0000; /*no sure*/*/
    /* --background-modifier-error-rgb: 61, 0, 0;*/
    /* --background-modifier-error-hover: #470000;*/
    /* --background-modifier-cover: rgba(0, 0, 0, 0.6);*/
}

/* }}}1 */

/* Light Theme Base {{{1 */

.theme-light
{
    --background-primary:            var(--mnemonaut-light-bg1);
    --background-primary-alt:        var(--mnemonaut-light-bg1);
    --background-secondary:          var(--mnemonaut-light-bg2);
    --background-secondary-alt:      var(--mnemonaut-light-bg2);
    --background-modifier-border:    var(--mnemonaut-light-bg2);

    --cursor-line-background:        var(--mnemonaut-light-graph-line);

    --text-normal:                   var(--mnemonaut-light-fg1);
    --text-faint:                    var(--mnemonaut-light-text-faint);
    --text-muted:                    var(--mnemonaut-light-text-muted);

    --h1-color:                      var(--mnemonaut-light-text-heading-fg);
    --h2-color:                      var(--mnemonaut-light-text-heading-fg);
    --h3-color:                      var(--mnemonaut-light-text-heading-fg);
    --h4-color:                      var(--mnemonaut-light-text-heading-fg);
    --h5-color:                      var(--mnemonaut-light-text-heading-fg);
    --h6-color:                      var(--mnemonaut-light-text-heading-fg);

    --text-highlight-bg:             var(--mnemonaut-light-text-highlight-bg);
    --text-highlight-fg:             var(--mnemonaut-light-text-highlight-fg);

    --text-accent:                   var(--mnemonaut-light-text-accent);
    --text-accent-hover:             var(--mnemonaut-light-text-accent-hover);

    --tag-color:                     var(--mnemonaut-light-tag-color);
    --tag-background:                var(--mnemonaut-light-tag-background);
    --tag-background-hover:          var(--mnemonaut-light-tag-background-hover);

    --titlebar-text-color-focused:   var(--mnemonaut-light-titlebar-focused-text-fg);

    --inline-title-color:            #ffffff; /* no effect: fg/bg color set below */

    --bold-color:                    var(--text-normal);
    --italic-color:                  var(--text-normal);

    --checkbox-color:                var(--mnemonaut-light-checkbox-fg);
    --checkbox-color-hover:          var(--mnemonaut-light-checkbox-fg);
    --checkbox-border-color:         var(--mnemonaut-light-checkbox-fg);
    --checkbox-border-color-hover:   var(--mnemonaut-light-checkbox-fg);
    --checklist-done-color:          var(--mnemonaut-light-checkbox-donoe-fg);

    --table-header-background:       var(--mnemonaut-light-text-table-header-bg);
    --table-header-background-hover: var(--mnemonaut-light-text-highlight-bg);
    --table-row-background:          var(--mnemonaut-light-text-table-header-bg);
    --table-row-background-hover:    var(--mnemonaut-light-text-highlight-bg);

    --text-selection:                var(--mnemonaut-light-text-highlight-bg);

    --code-normal:                   var(--mnemonaut-light-code-fg);
    --code-background:               var(--mnemonaut-light-code-bg);

    --icon-color-hover:              var(--mnemonaut-light-item-hover);
    --icon-color-focused:            var(--mnemonaut-light-item-focused);

    --nav-item-color-hover:          var(--mnemonaut-light-nav-item-hover);
    --nav-item-color-active:         var(--mnemonaut-light-nav-item-active);
    --nav-file-tag:                  var(--mnemonaut-light-nav-file-tag);

    --graph-line:                    var(--mnemonaut-light-graph-line);
    --graph-node:                    var(--mnemonaut-light-graph-node);
    --graph-node-tag:                var(--mnemonaut-light-graph-node-tag);
    --graph-node-attachment:         var(--mnemonaut-light-graph-node-attachement);

    --tab-text-color-focused-active:         var(--mnemonaut-light-tab-focused-active-fg);
    --tab-text-color-focused-active-current: var(--mnemonaut-light-tab-focused-active-current-fg);
    --mnemonaut-frame-accent-bg: var(--mnemonaut-light-frame-accent-bg)
    --mnemonaut-heading-accent-bg: var(--mnemonaut-light-heading-accent-bg);
    /* --background-modifier-border: #f2e5bc; */
  --border-color:               red !important;
}

/* }}}1 */

/* Special Overrides {{{1 */

/* headings {{{2 */

h1:before {
    /* content: '⏹ '; */
    /* content: '⏺ '; */
    /* content: '≣ '; */
    content: '⏣' "\0000a0";
    /* content: '░ '; */
    /* content: '▉ '; */
    /* content: '▎▎▎'; */
    /* content: '▏▏▏'; */
    /* content: '▥'; */
    /* content: '◯ '; */
    /* content: '◎ '; */
    /* content: '◉ '; */
    /* content: '🞖 '; */
    /* content: '🟔 '; */
    /* content: '⯼ '; */
    /* content: '𝄛 '; */
    /* content: '🌀 '; */
}

/* h2:before, */
/* h3:before, */
/* h4:before, */
/* h5:before, */
/* h6:before { */
/*     /1* content: '⏹ '; *1/ */
/*     /1* content: '⏺ '; *1/ */
/*     /1* content: '≣ '; *1/ */
/*     /1* content: '⏣' "\0000a0"; *1/ */
/*     /1* content: '◯ '; *1/ */
/*     /1* content: '◉ '; *1/ */
/*     /1* content: '🞖 '; *1/ */
/*     content: '🟔 '; */
/*     /1* content: '𝄛 '; *1/ */
/* } */

h2:before {
    content: '⫼⫼'     "\0000a0";
}
h3:before {
    content: '⫼⫼⫼'    "\0000a0";
}
h4:before {
    content: '⫼⫼⫼⫼'   "\0000a0";
}
h5:before {
    content: '⫼⫼⫼⫼⫼'  "\0000a0";
}
h6:before {
    content: '⫼⫼⫼⫼⫼⫼' "\0000a0";
}

/* h2:before { */
/*     content: '##'     "\0000a0"; */
/* } */
/* h3:before { */
/*     content: '###'    "\0000a0"; */
/* } */
/* h4:before { */
/*     content: '####'   "\0000a0"; */
/* } */
/* h5:before { */
/*     content: '#####'  "\0000a0"; */
/* } */
/* h6:before { */
/*     content: '######' "\0000a0"; */
/* } */


h1 {
    font-size: 150% !important;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    position: relative;
    background: var(--mnemonaut-heading-accent-bg);
    border-bottom: solid 1px;
    border-top: solid 1px;
}

/* h1 { */
/*     background: var(--background-secondary) !important; */
/*     color: var(--background-primary) !important; */
/*     font-weight: 200; */
/*     margin-bottom: 20px; */
/*     font-size: 20px !important; */
/*     border-radius: 0px 20px 20px 00px; */
/*     padding-top: 5px; */
/*     padding-bottom: 5px; */
/*     filter: opacity(70%); */
/* } */


h2 {
    font-size: 140% !important;
    border-bottom: solid 1px;
}

h3 {
    font-size: 120% !important;
    border-bottom: solid 1px;
}

h4 {
    font-size: 110% !important;
    border-bottom: solid 1px;
}

h5 {
    font-size: 100% !important;
    border-bottom: solid 1px;
}

h6 {
    font-size: 90% !important;
    border-bottom: solid 1px;
}

/* }}}2 */

/* numbered headings {{{2 */
/* body { */
/*     counter-reset: h2counter; */
/*     counter-reset: h3counter; */
/* } */
/* h1 { */
/*     counter-reset: h2counter; */
/* } */
/* h2:before { */
/*     counter-increment: h2counter; */
/*     content: counter(h2counter) ".\0000a0\0000a0"; */
/*     counter-reset: h3counter; */
/* } */
/* h3:before { */
/*     counter-increment: h3counter; */
/*     content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0"; */
/* } */
/* }}}2 */

/* block quotes */
/* Add quotation character before quote */
blockquote:before {
  font: 14px/20px italic Times, serif;
  content: "“";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote:after {
  font: 14px/20px italic Times, serif;
  content: "”";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p { display: inline; }

/* dataview {{{2 */
/* https://forum.obsidian.md/t/inline-property-style/46902/2?u=jeetsukumaran */

span.dataview.inline-field {
    white-space: nowrap;
}

span.dataview.inline-field-key {
    border: thin solid var(--tag-background);
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: black;
    background: var(--background-secondary);
}

span.dataview.inline-field-value {
    border: thin solid var(--tag-background);
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--tag-background);
    color: var(--tag-color);
}

span.dataview.inline-field-standalone-value {
    background: var(--tag-background);
    border: thin solid var(--tag-background);
    color: var(--tag-color);
    border-radius: 10px;
}


.dataview h4::before {
    content: '⮺ ';
}


.dataview h4 {
    border-bottom: solid 0.5px;
}

.dataview .small-text {
    display: none;
}




/* }}}2 */

/* Interface {{{2 */

/* hash tags in headers */
.cm-formatting-header {
    color: var(--h1-color);
}


.inline-title {
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    border-left: 0.5px solid;
    border-right: 0.5px solid;
}

.theme-dark .inline-title {
}

.theme-light .inline-title {
}


/* }}}2 */

/* UI {{{2 */

.theme-light .modal-close-button {
    color: var(--background-secondary);
}
.theme-light .mod-community-modal .modal-close-button {
    color: var(--background-primary);
}
/* }}}2 */

/* file explorer {{{2 */

/* more compact */
.nav-file-title,
.nav-folder-title {
  padding: 0px 14px 0px 20px;
}

/* little arrows in the native file explorer AND to collapse/uncollapse headings, lists, etc. */
/* .right-triangle path { */
/*   stroke: var(--background-primary); */
/*   stroke-width: 4px; */
/*   stroke-linecap="round"; */
/* } */

.theme-light .nav-folder-title {
    font-weight: normal;
    color: var(--background-primary) !important;
}

.theme-dark .nav-folder-title {
    font-weight: normal;
    /* color: var(--background-primary) !important; */
    /* color: #c8c888; */
    /* color: #201000; */
    /* color: #b8b878; */
    /* color: #78b8c8; */
    /* color: #c8b878; */
    /* color: var(--text-normal) !important; */
    /* color: var(--text-normal) !important; */
    color: #c0b088;
}


.nav-file-title {
    border-radius: 10px;
    color: #d5d5c5 !important;
}

.nav-file-title:hover,
.nav-folder-title:hover,
.nav-file-title-content:hover,
.nav-folder-title-content:hover{
    /* font-weight: bold; */
    /* background: #bbb098 !important; */
    /* color: #336699 !important; */
}

.nav-file .is-active {
    border-radius: 20px !important;
    padding-top: 1px !important;
    padding-bottom: 2px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-left: 10px !important;
    border: solid 0.5px;
}

.is-active .nav-file-title-content {
    font-style: italic;
}

/* file xplor : smaller & bold vault title */
.nav-folder.mod-root > .nav-folder-title {
  padding-left: 6px;
  font-size: 14px;
  font-weight: bolder;
  top: -6px;
  cursor: default;
  /* border: solid 1px red; */
}

/* }}}2 */

/* tab header {{{2 */

.theme-light .workspace-tab-header-container-inner {
    color: var(--background-primary);
    font-style: italic;
}
.theme-light .workspace-tab-header.is-active {
    color: var(--background-secondary);
    font-weight: bold;
}

/* }}}2 */

/* ribbons / frame {{{2 */

.side-dock-ribbon.mod-left {
  background: var(--mnemonaut-frame-accent-bg);
}

.side-dock-ribbon > * {
  filter: opacity(60%);
}

.workspace-ribbon-collapse-btn {
}
.workspace-ribbon.is-collapsed .workspace-ribbon-collapse-btn {
}
.workspace-ribbon-collapse-btn:hover {
}


/* .logo-full, */
/* .logo-wireframe, */
/* .titlebar-button-container, */
/* .titlebar-button-container.mod-left, */
/* .titlebar-button.mod-logo { */
/*   color: white; */
/*   background: red !important; */
/*   filter: opacity(100%); */
/*   border: solid 1px red; */
/*   stroke: white; */
/* } */

/* .workspace-ribbon.side-dock-ribbon.mod-right { */
/*   border-left: solid 2px var(--background-primary); */
/*   border-top: solid 2px var(--background-primary); */
/*   filter: opacity(50%); */
/* } */


/* }}}2 */

/* little triangles on file explorer {{{2 */
.right-triangle path {
  stroke: var(--background-primary);
  stroke-width: 4px;
  stroke-linecap="round";
  filter: opacity(60%);
}
/* }}}2 */

/* tab drag handles {{{2 */

/* }}}2 */

/* workspace {{{2 */

/* .workspace-split .view-content { */
/*     border-left: solid var(--background-secondary) 0.5px; */
/* } */
/* .mod-left-split .workspace-tab-container { */
/*     border-right: solid var(--background-secondary) 0.5px; */
/* } */

/* .workspace-tabs .workspace-leaf.mod-active { */
    /* border: solid 2px var(--mnemonaut-frame-accent-bg); */
/* } */
/* .svelte-ldfkf { */
/*     border-top: solid 2px var(--mnemonaut-frame-accent-bg); */
/* } */

/* }}}2 */

/* view header  {{{2 */

/* .view-header-title-container:after { */
/*   background: linear-gradient(to bottom, transparent, var(--background-primary)) !important; */
/* } */

.workspace-leaf.mod-active .view-header {
  border-bottom: solid 1px var(--background-secondary);
  border-top: solid 1px var(--background-primary);
}

/* .workspace-leaf.mod-active .view-header-title-container:after { */
/*   background: linear-gradient(to bottom, transparent, var(--background-secondary-alt)) !important; */
/* } */

/* .workspace-leaf.mod-active .view-header-title, */
/* .workspace-leaf.mod-active .view-header-icon */
/* { */
/*   color: var(--text-faint); */
/* } */

/* .view-header-title, .view-header-icon, .view-action{ */
/*   color: var(--text-faint); */
/* } */

.workspace-leaf.mod-active .view-header-title,
.workspace-leaf.mod-active .view-header-icon
.view-header-title,
.view-header-icon,
.view-action,
.view-header-nav-buttons .clickable-icon
{
  color: var(--text-faint);
}

.workspace-leaf-resize-handle {
}

.nav-header,
.workspace-tabs .workspace-tab-header-container {
  background: var(--mnemonaut-frame-accent-bg);
}

.workspace-tabs.mod-top .workspace-tab-header-container {
  background: var(--background-secondary);
}



/* }}}2 */

/* settings modal dialog {{{2 */

/* .vertical-tab-header { */
/*     background: #303030; */
/*     color: #bbbbbb; */
/* } */

/* .vertical-tab-header-group-title { */
/*     /1* background: var(--background-secondary); *1/ */
/*     color: #ffffff; */
/* } */

/* .vertical-tab-header-group-items { */
/*     /1* background: var(--background-secondary); *1/ */
/*     /1* color: #888888; *1/ */
/* } */

/* .vertical-tab-content { */
/*     background: var(--background-secondary); */
/* } */

/* .setting-item-name { */
/*     color: var(--titlebar-text-color-focused); */
/* } */

/* .setting-item-description { */
/*     color: var(--text-muted); */
/* } */


/* .setting-item-control button { */
/*     background: var(--background-primary); */
/*     color: var(--text-normal); */
/* } */

/* left sidebar of settings modal dialog */

.theme-light .vertical-tab-header {
    color: var(--text-muted);
}
.theme-light .vertical-tab-header-group-title {
    color: var(--background-secondary);
    background: var(--background-primary);
    border-radius: 20px;
    text-align: center;
    padding: 4px;
    margin-bottom: 5px;
    margin-top: 0px;
}
.vertical-tab-header-group-items {
}

.vertical-tab-content {
}

.theme-light .setting-item-name {
    color: var(--background-secondary) !important;
}

.theme-light .setting-item-description {
    color: var(--text-normal);
    font-style: italic;
}

.theme-light .setting-item-control button {
    background: var(--background-secondary);
    color: var(--text-muted);
}

/* }}}2 */

/* these menu dialogs are built differently  {{{2 */

/* theme manager/ browser */
.theme-light .community-modal-controls .setting-item-name {
    color: var(--text-muted) !important;
}

/* /1* plugin browser *1/ */
/* .community-item * { */
/*     color: var(--background-secondary) !important; */
/* } */

/* .community-item-author, */
/* .community-item-downloads, */
/* .community-item-updated { */
/*     font-style: italic; */
/* } */


/* }}}2 */

/* Code {{{2 */

/* source view general lines */
.cm-line {
    line-height: 1.5em !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    word-break: keep-all;
}

HyperMD-codeblock.cm-line {
}

.cm-hmd-codeblock {
    line-height: 1.2em !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height: normal !important;
}

/* }}}2 */

/* }}}1 */

/* YAML front matter syntax color {{{1 */

/* YAML container in source mode */
span.cm-hmd-frontmatter,
/* YAML container in preview mode */
.frontmatter-container,
/* YAML container title in preview mode */
.frontmatter-container-header {
    color: var(--text-muted) !important;
}

.frontmatter-section {
}

/* YAML label in source mode */
span.cm-atom.cm-hmd-frontmatter,
/* YAML label in preview mode */
.frontmatter-section-label {
    color: var(--text-faint) !important;
}

/* YAML value in source mode */
span.cm-meta.cm-hmd-frontmatter + span.cm-hmd-frontmatter,
/* YAML value in preview mode */
.frontmatter-section-data {
    /* color: var(--code-normal) !important; */
    color: var(--text-muted) !important;
}

/* }}}1 */

/* color scratchpad {{{1

** Beige/Tan/Brown/Red

#ccc6bd
#c8c1b7
#bfb7ab
#aaa090
#999080;
#8a8070
#746c64
#646060
#514a3e
#484032
#453f35
#323030
#2e2a23
#1b1b20

** Slate/Blue

#3d372f
#404850
#606c78
#808d9a
#909ba7
#a0a9b3

}}}1 */

thead {
  border-bottom: 3px solid var(--background-modifier-border);
}
