/*

** Beige/Tan/Brown/Red

#aaa090
#8a8070
#746c64
#646060
#514a3e
#484032
#453f35
#423c23
#323030
#2e2a23
#1b1b20

** Slate/Blue

#3d372f
#484850
#606c78
#808d9a
#909ba7
#a0a9b3

*/

/* Dark Scheme Color Definitions {{{1 */

:root
{
    --mnemonaut-dark-bg1                          : #323030; /* background main */
    --mnemonaut-dark-fg1                          : #eeeedd; /* text */
    --mnemonaut-dark-bg2                          : #404850; /* menu background and border */
}

/* }}}1 */

/* Light Scheme Color Definitions {{{1 */

:root
{
    --mnemonaut-light-bg1                          : #aaa090; /* background main */
    --mnemonaut-light-fg1                          : #444040; /* text */
    /* --mnemonaut-light-fg1                          : #423c33; /1* text *1/ */
    --mnemonaut-light-bg2                          : #404850; /* menu background and border */
    --mnemonaut-light-text-normal                  : var(--mnemomonaut-light-fg1); /* text */
    /* --mnemonaut-light-text-ornament                : #646060; /1* '--text-faint' in main body, stroke, arrow, list, bullet point, etc. *1/ */
    --mnemonaut-light-text-faint                   : #646060; /* '--text-faint' in main body, stroke, arrow, list, bullet point, etc. */
    --mnemonaut-light-text-muted                   : #cebd9e; /* menu/interface text */
    --mnemonaut-light-text-bold                    : var(--mnemonaut-light-fg1);
    --mnemonaut-light-text-italic                  : var(--mnemonaut-light-fg1);
    --mnemonaut-light-text-heading-fg              : var(--mnemonaut-light-bg2);
    --mnemonaut-light-text-highlight-bg            : #a0a9b3;
    --mnemonaut-light-text-highlight-fg            : none;
    /* --mnemonaut-light-text-accent                  : #8b4b4b; /1* links *1/ */
    /* --mnemonaut-light-text-accent                  : #006600; /1* links *1/ */
    /* --mnemonaut-light-text-accent-hover            : #008800; /1* links *1/ */
    --mnemonaut-light-text-accent                  : #014b70; /* links */
    --mnemonaut-light-text-accent-hover            : #000088; /* links */

    --mnemonaut-light-inline-title-fg              : none; /* set below */

    --mnemonaut-light-tab-focused-active-fg             : #fff0a0;
    --mnemonaut-light-tab-focused-active-current-fg     : var(--mnemonaut-light-bg2);

    --mnemonaut-light-titlebar-focused-text-fg     : #ffffff;

    --mnemonaut-light-icon-hover                   : red;
    --mnemonaut-light-icon-focused                 : red;

    --mnemonaut-light-text-table-header-bg         : #ebcb8b10;
    --mnemonaut-light-text-table-row-bg            : #ebcb8b10;
    --mnemonaut-light-code-fg                      : #000000;
    --mnemonaut-light-code-bg                      : #aaa090;
    --mnemonaut-light-nav-item-active              : #bbb098;
    --mnemonaut-light-nav-item-hover               : #bcb290;
    --mnemonaut-light-nav-file-tag                 : #000000;
    --mnemonaut-light-graph-line                   : #585858; /* graph line */
    --mnemonaut-light-graph-node                   : #585858; /* graph line */
    --mnemonaut-light-graph-node-tag               : #585858; /* graph line */
    --mnemonaut-light-graph-node-attachment        : #585858; /* graph line */

    --mnemonaut-light-checkbox-fg                  : #fff000;
    --mnemonaut-light-checkbox-done-fg             : #ffffff;
    --mnemonaut-light-tag-fg                       : #ffffff;
    --mnemonaut-light-tag-background               : #ffffff;
    --mnemonaut-light-tag-background-hover         : #ffffff;
}

/* }}}1 */

/* Body {{{1 */

body
{
    /* UI Widget Buttons etc. */
    --accent-h: 197;
    --accent-s: 18%;
    --accent-l: 50%;

    --font-text-theme: "Ubuntu";
    --font-interface-theme: "Ubuntu";
    --font-editor-theme: "Ubuntu";
    --font-monospace-theme: "Ubuntu Mono";

    /* --link-decoration:                none; */
    /* --link-decoration-hover:          none; */
    /* --link-external-decoration:       none; */
    /* --link-external-decoration-hover: none; */

    /* --tag-decoration:                 none; */
    /* --tag-decoration-hover:           underline; */
    /* --tag-padding-x:                  .5em; */
    /* --tag-padding-y:                  .2em; */
    /* --tag-radius:                     .5em; */
}

/* }}}1 */

/* Dark Theme Base {{{1 */

.theme-dark
{
    --background-primary:            var(--mnemonaut-dark-bg1);
    --background-primary-alt:        var(--mnemonaut-dark-bg1);
    --background-secondary:          var(--mnemonaut-dark-bg2);
    --background-secondary-alt:      var(--mnemonaut-dark-bg2);
    --background-modifier-border:    var(--mnemonaut-dark-bg2);

    --cursor-line-background:        var(--mnemonaut-dark-graph-line);

    --text-normal:                   var(--mnemonaut-dark-fg1);
    --text-faint:                    var(--mnemonaut-dark-text-faint);
    --text-muted:                    var(--mnemonaut-dark-text-muted);

    --h1-color:                      var(--mnemonaut-dark-text-heading-fg);
    --h2-color:                      var(--mnemonaut-dark-text-heading-fg);
    --h3-color:                      var(--mnemonaut-dark-text-heading-fg);
    --h4-color:                      var(--mnemonaut-dark-text-heading-fg);
    --h5-color:                      var(--mnemonaut-dark-text-heading-fg);
    --h6-color:                      var(--mnemonaut-dark-text-heading-fg);

    --text-highlight-bg:             var(--mnemonaut-dark-text-highlight-bg);
    --text-highlight-fg:             var(--mnemonaut-dark-text-highlight-fg);

    --text-accent:                   var(--mnemonaut-dark-text-accent);
    --text-accent-hover:             var(--mnemonaut-dark-text-accent-hover);

    --tag-color:                     var(--mnemonaut-dark-tag-fg);
    --tag-background:                var(--mnemonaut-dark-tag-bg);
    --tag-background-hover:          var(--mnemonaut-dark-tag-bg-hover);

    --titlebar-text-color-focused:   var(--mnemonaut-dark-titlebar-focused-text-fg);

    --inline-title-color:            var(--mnemonaut-dark-inline-title-fg);

    --bold-color:                    var(--mnemonaut-dark-text-bold);
    --italic-color:                  var(--mnemonaut-dark-text-italic);

    --checkbox-color:                var(--mnemonaut-dark-checkbox-fg);
    --checkbox-color-hover:          var(--mnemonaut-dark-checkbox-fg);
    --checkbox-border-color:         var(--mnemonaut-dark-checkbox-fg);
    --checkbox-border-color-hover:   var(--mnemonaut-dark-checkbox-fg);
    --checklist-done-color:          var(--mnemonaut-dark-checkbox-donoe-fg);

    --table-header-background:       var(--mnemonaut-dark-text-table-header-bg);
    --table-header-background-hover: var(--mnemonaut-dark-text-highlight-bg);
    --table-row-background:          var(--mnemonaut-dark-text-table-header-bg);
    --table-row-background-hover:    var(--mnemonaut-dark-text-highlight-bg);

    --text-selection:                var(--mnemonaut-dark-text-highlight-bg);

    --code-normal:                   var(--mnemonaut-dark-code-fg);
    --code-background:               var(--mnemonaut-dark-code-bg);

    --icon-color-hover:              var(--mnemonaut-dark-item-hover);
    --icon-color-focused:            var(--mnemonaut-dark-item-focused);

    --nav-item-color-hover:          var(--mnemonaut-dark-nav-item-hover);
    --nav-item-color-active:         var(--mnemonaut-dark-nav-item-active);
    --nav-file-tag:                  var(--mnemonaut-dark-nav-file-tag);

    --graph-line:                    var(--mnemonaut-dark-graph-line);
    --graph-node:                    var(--mnemonaut-dark-graph-node);
    --graph-node-tag:                var(--mnemonaut-dark-graph-node-tag);
    --graph-node-attachment:         var(--mnemonaut-dark-graph-node-attachement);

    --tab-text-color-focused-active:         var(--mnemonaut-dark-tab-focused-active-fg);
    --tab-text-color-focused-active-current: var(--mnemonaut-dark-tab-focused-active-current-fg);
}

/* }}}1 */

/* Light Theme Base {{{1 */

.theme-light
{
    --background-primary:            var(--mnemonaut-light-bg1);
    --background-primary-alt:        var(--mnemonaut-light-bg1);
    --background-secondary:          var(--mnemonaut-light-bg2);
    --background-secondary-alt:      var(--mnemonaut-light-bg2);
    --background-modifier-border:    var(--mnemonaut-light-bg2);

    --cursor-line-background:        var(--mnemonaut-light-graph-line);

    --text-normal:                   var(--mnemonaut-light-fg1);
    --text-faint:                    var(--mnemonaut-light-text-faint);
    --text-muted:                    var(--mnemonaut-light-text-muted);

    --h1-color:                      var(--mnemonaut-light-text-heading-fg);
    --h2-color:                      var(--mnemonaut-light-text-heading-fg);
    --h3-color:                      var(--mnemonaut-light-text-heading-fg);
    --h4-color:                      var(--mnemonaut-light-text-heading-fg);
    --h5-color:                      var(--mnemonaut-light-text-heading-fg);
    --h6-color:                      var(--mnemonaut-light-text-heading-fg);

    --text-highlight-bg:             var(--mnemonaut-light-text-highlight-bg);
    --text-highlight-fg:             var(--mnemonaut-light-text-highlight-fg);

    --text-accent:                   var(--mnemonaut-light-text-accent);
    --text-accent-hover:             var(--mnemonaut-light-text-accent-hover);

    --tag-color:                     var(--mnemonaut-light-tag-fg);
    --tag-background:                var(--mnemonaut-light-tag-bg);
    --tag-background-hover:          var(--mnemonaut-light-tag-bg-hover);

    --titlebar-text-color-focused:   var(--mnemonaut-light-titlebar-focused-text-fg);

    --inline-title-color:            #ffffff; /* no effect: fg/bg color set below */

    --bold-color:                    var(--mnemonaut-light-text-bold);
    --italic-color:                  var(--mnemonaut-light-text-italic);

    --checkbox-color:                var(--mnemonaut-light-checkbox-fg);
    --checkbox-color-hover:          var(--mnemonaut-light-checkbox-fg);
    --checkbox-border-color:         var(--mnemonaut-light-checkbox-fg);
    --checkbox-border-color-hover:   var(--mnemonaut-light-checkbox-fg);
    --checklist-done-color:          var(--mnemonaut-light-checkbox-donoe-fg);

    --table-header-background:       var(--mnemonaut-light-text-table-header-bg);
    --table-header-background-hover: var(--mnemonaut-light-text-highlight-bg);
    --table-row-background:          var(--mnemonaut-light-text-table-header-bg);
    --table-row-background-hover:    var(--mnemonaut-light-text-highlight-bg);

    --text-selection:                var(--mnemonaut-light-text-highlight-bg);

    --code-normal:                   var(--mnemonaut-light-code-fg);
    --code-background:               var(--mnemonaut-light-code-bg);

    --icon-color-hover:              var(--mnemonaut-light-item-hover);
    --icon-color-focused:            var(--mnemonaut-light-item-focused);

    --nav-item-color-hover:          var(--mnemonaut-light-nav-item-hover);
    --nav-item-color-active:         var(--mnemonaut-light-nav-item-active);
    --nav-file-tag:                  var(--mnemonaut-light-nav-file-tag);

    --graph-line:                    var(--mnemonaut-light-graph-line);
    --graph-node:                    var(--mnemonaut-light-graph-node);
    --graph-node-tag:                var(--mnemonaut-light-graph-node-tag);
    --graph-node-attachment:         var(--mnemonaut-light-graph-node-attachement);

    --tab-text-color-focused-active:         var(--mnemonaut-light-tab-focused-active-fg);
    --tab-text-color-focused-active-current: var(--mnemonaut-light-tab-focused-active-current-fg);
}

/* }}}1 */

/* Special Overrides {{{1 */

/* Interface {{{2 */

/* little arrows in the native file explorer */
/* svg.right-triangle path { */
/*   stroke: blue; */
/*   stroke-width: 2px; */
/*   stroke-linecap="round"; */
/* } */

/* hash tags in headers */
.cm-formatting-header {
    color: var(--h1-color);
}


/* note filename shown as 0-th level title */
.inline-title {
    background: var(--background-secondary);
    color: var(--background-primary);
    font-family: monospace;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    /* border: solid 1px var(--mnemonaut-fg1); */
    border-radius: 80px;
    text-align: center;
    margin-bottom: 20px;
}


/* }}}2 */

/* tab header {{{2 */

.workspace-tab-header-container-inner {
    color: var(--background-primary);
    font-style: italic;
}
.workspace-tab-header.is-active {
    color: var(--background-secondary);
    font-weight: bold;
}

/* }}}2 */

/* header  {{{2 */

.view-header {
    border-bottom: solid 1px var(--text-normal);
}

/* .view-header-title-container:after { */
/*   background: linear-gradient(to bottom, transparent, var(--background-primary)) !important; */
/* } */

/* .workspace-leaf.mod-active .view-header { */
/*   border: solid 1px var(--background-primary); */
/* } */

/* .workspace-leaf.mod-active .view-header-title-container:after { */
/*   background: linear-gradient(to bottom, transparent, var(--background-secondary-alt)) !important; */
/* } */

/* .workspace-leaf.mod-active .view-header-title, */
/* .workspace-leaf.mod-active .view-header-icon */
/* { */
/*   color: var(--text-faint); */
/* } */

/* .view-header-title, .view-header-icon, .view-action{ */
/*   color: var(--text-faint); */
/* } */

.workspace-leaf.mod-active .view-header-title,
.workspace-leaf.mod-active .view-header-icon
.view-header-title,
.view-header-icon,
.view-action,
.view-header-nav-buttons .clickable-icon
{
  color: var(--text-faint);
}

/* }}}2 */

/* settings menu  {{{2 */

/* .vertical-tab-header { */
/*     background: #303030; */
/*     color: #bbbbbb; */
/* } */

/* .vertical-tab-header-group-title { */
/*     /1* background: var(--background-secondary); *1/ */
/*     color: #ffffff; */
/* } */

/* .vertical-tab-header-group-items { */
/*     /1* background: var(--background-secondary); *1/ */
/*     /1* color: #888888; *1/ */
/* } */

/* .vertical-tab-content { */
/*     background: var(--background-secondary); */
/* } */

/* .setting-item-name { */
/*     color: var(--titlebar-text-color-focused); */
/* } */

/* .setting-item-description { */
/*     color: var(--text-muted); */
/* } */


/* .setting-item-control button { */
/*     background: var(--background-primary); */
/*     color: var(--text-normal); */
/* } */

/* left sidebar of settings */
.vertical-tab-header {
    color: var(--text-muted);
}
.vertical-tab-header-group-title {
    color: var(--background-secondary);
    background: var(--background-primary);
    border-radius: 20px;
    text-align: center;
    padding: 4px;
    margin-bottom: 5px;
    margin-top: 0px;
}
.vertical-tab-header-group-items {
}

.vertical-tab-content {
}

.setting-item-name {
    color: var(--background-secondary);
}

.setting-item-description {
    color: var(--text-normal);
    font-style: italic;
}


.setting-item-control button {
    background: var(--background-secondary);
    color: var(--text-muted);
}

/* }}}2 */

/* YAML front matter syntax color {{{2 */

/* YAML container in source mode */
span.cm-hmd-frontmatter,
/* YAML container in preview mode */
.frontmatter-container,
/* YAML container title in preview mode */
.frontmatter-container-header {
    color: var(--background-secondary) !important;
}

.frontmatter-section {
}

/* YAML label in source mode */
span.cm-atom.cm-hmd-frontmatter,
/* YAML label in preview mode */
.frontmatter-section-label {
    color: var(--background-secondary) !important;
}

/* YAML value in source mode */
span.cm-meta.cm-hmd-frontmatter + span.cm-hmd-frontmatter,
/* YAML value in preview mode */
.frontmatter-section-data {
    color: orange !important;
}

/* YAML separator text in source mode*/
span.cm-meta.cm-hmd-frontmatter {
    color: blue;
}

/* }}}2 */


/* }}}1 */

